.projects-main-container {
  background-image: linear-gradient(#eef5ff, #b4d4ff);
  background-color: #b4d4ff;
  height: 100vh;
}
.sub-heading {
    color: #176b87;
}

.card {
  padding: 20px;
  width: 380px;
  min-width: 380px;
  min-height: 400px;
  border-radius: 20px;
  background-color: #eef5ff;
  box-shadow: inset 10px 10px 15px -10px #c3c3c3,
    inset -10px -10px 15px -10px #ffffff;
  transition: 0.4s;
  border: none;
}

.card:hover {
  translate: 0 -10px;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  color: #2e54a7;
  margin: 15px 0 0 10px;
}

.card-image {
  min-height: 170px;
  background-color: #c9c9c9;
  border-radius: 15px;
  box-shadow: inset 8px 8px 10px #c3c3c3, inset -8px -8px 10px #cfcfcf;
}

.card-body {
  margin: 13px 0 0 10px;
  color: rgb(31, 31, 31);
  font-size: 15px;
}

.footer {
  float: right;
  margin: 28px 0 0 18px;
  font-size: 13px;
  color: #636363;
}

.by-name {
  font-weight: 700;
}
